<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:andrew.lee.chiang@emory.edu">andrew.lee.chiang@emory.edu</a></li>
	        		<li><a href="https://github.com/andrewlchiang">github.com/andrewlchiang</a></li>
							<li><a href="https://www.linkedin.com/in/andrewleechiang/">linkedin.com/in/andrewleechiang/</a></li>
				</ul>
			</footer>

			<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

		</body>
	</html>
